.search-stay {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    align-items: center;
}

.dropdown-description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.input-location {
  margin-left: 27px;
  width: 100%;
}

.search-stay-location-title {
  margin: 12px 0 0 27px; 
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #333333;
}

.search-stay-location > ::placeholder {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #333333;
}

.search-stay-location-selected ::placeholder {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #333333;

  opacity: 1;
}

input {     
  /* reset default styles */
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  font-family: Mulish;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */


color: #333333;
 }

.search-stay-expanded {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    width: 100%;
 
}

.search-stay > span {
  /* to check*/
  padding: 15px;
}

.search-stay-expanded > span {
  padding: 4px;
  flex: 1 1 1px;
}

.search-stay-expanded > span:last-child {
  display: flex;
  padding: 4px;
  justify-content: center;
}

.search-stay > span:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-right: 1px solid #F2F2F2;
  height: 100%;
}

.search-stay-expanded > span:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-right: 1px solid #F2F2F2;
  height: 100%;
}

.search-icon {
    color: red;
}

.search-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.search-button-expanded {
    /* remove button style */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  
    /* styling */
    background: #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    color: #F2F2F2;

    /* flexin */
    display: inline-flex;
    padding: 2%;
}

.search-button-expanded .search-icon {
  color: #F2F2F2;
  margin-right: 11px;
}

.search-stay-location {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */


  color: #333333;
}

.search-stay-location-selected {
  border: 1px solid #333333;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 16px;
}

.search-stay-guest {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  color: #BDBDBD;
}
.search-stay-guest-selected {
  border: 1px solid #333333;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 16px;
}